# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Bookmarklet'
      'submenu': [
        { 'label': 'Create JavaScript', 'command': 'bookmarklet:createJS' }
      ]
    ]
  }
]
